<html>
<head>
    
    <style>
     body{

    padding: 2cm;
    margin: 1cm ;
    border: 5px #000000 solid;
    border-radius: 5px;
    background: white;
    }
    p{
        font-size:24px;
    }
    @media print {
	
	#printpagebutton{
		display: none;
	}

  /* ... the rest of the rules ... */
    }
        
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Picker Devices</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<script src="gallery.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	
<nav class="navbar navbar-light bg-light fixed-top">
<a class="navbar-brand" href="/">Device Records</a>

    
<div > 

    <ul class="nav navbar-expand-sm  nav-pills navbar-right">
        <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Go To
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/devices/new">Add Device</a>
          <a class="dropdown-item" href="/devices">Device List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/transactions">Transactions</a>
          <a class="dropdown-item" href="/transactionadd">Transfer Device</a>
          <div class="dropdown-divider"></div>
          
          
        </div>
      </li> 
        <li class="nav item">
            <a class="nav-link" href="#">Sign Up</a>
        </li>
        <li class="nav item">
            <a class="nav-link" href="#">Sign In</a>
        </li>
            <li class="nav item">
            <a class="nav-link" href="/logout">LogOut</a>
        </li>
    </ul>
</div> 


</nav>
<img style="float:left" src="/images/awok.jpg" alt="Trulli" width="138" height="41" ><h2  style="text-align:center;float:center;clear:left;"><strong>AWOK.com </strong></h2>

<h3 style="text-align:center;text-decoration: underline;">Request From</h3>

